// ────────────── Output Configuration ──────────────
// Run `niri msg outputs` to get correct names.
// Docs: https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs
//
// Manual profiles live in ./displays/.
// Switch by changing this include, then run: niri msg action load-config

include "./displays/lenovo-l32p-30.kdl"
// include "./displays/skydata-h27g30q.kdl"
